.main {
  width: 100%;
  height: 100%;
  margin: 20px;
  background: #fff;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.head {
  grid-area: 1 / 1 / 2 / 6;
}
.board {
  grid-area: 2 / 1 / 6 / 5;
}
.status {
  grid-area: 2 / 5 / 6 / 6;
}
