.main {
  width: 100%;
  height: 100%;
  border-radius: 2rem;
  background-clip: content-box;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.head {
  margin-bottom: 2rem;
}

.mainBoard {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
