.toast {
    visibility: hidden;
    height: 50px;
    /*width: fit-content;*/
    margin: auto;
    color: var(--color-white);
    text-align: center;
    border-radius: 10px;
    position: fixed;
    z-index: 1;
    left: 0;
    right: 0;
    top: 30px;
    font-size: 17px;
    white-space: nowrap;
}

.toast .desc {
    color: #fff;
    padding: 16px;
    overflow: hidden;
    white-space: nowrap;
}

.toast.show {
    visibility: visible;
    animation: fadein 1s, fadeout 1s 3s;
}

@keyframes fadein {
    from {
        top: 0;
        opacity: 0;
    }

    to {
        top: 30px;
        opacity: 1;
    }
}

@keyframes fadeout {
    from {
        top: 30px;
        opacity: 1;
    }
    to {
        top: 0;
        opacity: 0;
    }
}