:root {
  --color-primary: #7380EC;
  --color-danger: #ff7782;
  --color-success: #41f1b6;
  --color-warning: #ffbb55;
  --color-white: #fff;
  --color-background: #f6f6f9;
  --color-light: rgba(132,139,200,0.18);

  --card-border-radius: 2rem;
  --card-padding: 1.8rem;

  --box-shadow: 0 2rem 3rem var(--color-light);
}